<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
        <div class="row d-flex align-items-center">
            <div class="col-md-3 mt-2">
                <div class="card card-sh p-3 shadow" style="width: 30rem;">
                    <div class="card-header text-center">
                        <p class="fs-4">Add Category</p>
                        <th:block th:if="${succMsg}">
                            <p class="text-success fw-bold" th:text="${succMsg}"></p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${errorMsg}">
                            <p class="text-danger fw-bold" th:text="${errorMsg}"></p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                    </div>
                    <div class="card-body">
                        <form action="/admin/updateCategory" method="post"
                              enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${category.id}">
                            <div class="mb-3">
                                <label class="form-label">Enter Category</label> <input
                                    type="text" name="name" th:value="${category.name}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive"
                                           id="radioDefault1" th:checked="${category.isActive==true}" value="true"> <label
                                        class="form-check-label" for="radioDefault1"> Active
                                </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive"
                                           id="radioDefault2" value="false" th:checked="${category.isActive==false}"> <label
                                        class="form-check-label" for="radioDefault2">
                                    Inactive </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Upload Image</label> <input
                                    type="file" name="file" class="form-control">
                            </div>
                            <img th:src="@{'/img/category_img/'+${category.imageName}}" width="80px" height="80px">
                            <button class="btn btn-primary col-md-12">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
</body>
</html>