<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Ecommerce Website</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<section>
		<!-- Index page -->
		<div id="carouselExampleCaptions" class="carousel slide">

			<div class="carousel-indicators">
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="3" aria-label="Slide 4"></button>
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="4" aria-label="Slide 5"></button>
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="5" aria-label="Slide 6"></button>
				<button type="button" data-target="#carouselExampleCaptions"
					data-slide-to="6" aria-label="Slide 7"></button>
			</div>

			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/carousel_img/slide1.jpeg" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>First slide label</h5>
						<p>Some representative placeholder content for the first
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carousel_img/slide2.jfif" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>Second slide label</h5>
						<p>Some representative placeholder content for the second
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carousel_img/slide3.jfif" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carousel_img/slide4.jfif" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carousel_img/slide5.jfif" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carousel_img/slide6.jfif" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/carousel_img/slide7.jpg" class="d-block w-100"
						alt="..." height="400px">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!--End slider  -->
		<!--start category  -->

		<div class="container">
			<div class="row">
				<p class="text-center fs-4 mt-5">Category</p>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/category_img/electro.jfif" width="60%"
								height="60px">
							<p>Electronics</p>
						</div>

					</div>
				</div>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/category_img/jwellery.jfif" width="60%"
								height="60px">
							<p>Jewellery</p>
						</div>

					</div>
				</div>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/category_img/clothes.jpg" width="60%"
								height="60px">
							<p>Clothes</p>
						</div>

					</div>
				</div>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop1.jfif" width="60%"
								height="60px">
							<p>Laptop</p>
						</div>

					</div>
				</div>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/category_img/mobile.jfif" width="60%"
								height="60px">
							<p>Mobile</p>
						</div>

					</div>
				</div>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/category_img/grocery.jfif" width="60%"
								height="60px">
							<p>Groccery</p>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!--End Category  -->
		<!--start Product -->
		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop1.jfif" class=""
								width="65%" height="140px">
							<p class="text-center">HP LAPTOP</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop1.jfif" class=""
								width="65%" height="140px">
							<p class="text-center">HP LAPTOP</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop1.jfif" class=""
								width="65%" height="140px">
							<p class="text-center">HP LAPTOP</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop1.jfif" class=""
								width="65%" height="140px">
							<p class="text-center">HP LAPTOP</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!--end Product -->
		<!--start footer  -->
		
		<!--end footer  -->
	</section>

</body>
</html>